body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-right: 1px solid black;
}

.logo img {
  height: 50px;
}

.actions, .language, .user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lang {
  height: 27px;
  width: 39px;
}

header button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.menu {
  font-size: 24px;
  cursor: pointer;
  border-left: 1px solid black;
  padding: 20px;
}

main {
  min-height: 500px;
  background: white;
}

footer {
  background-color: #00264d;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.contact-title {
  flex-basis: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.campus {
  width: 30%;
  min-width: 200px;
  margin: 10px;
}

.campus:nth-child(2) {
  background: linear-gradient(to right, indigo, red);
  padding: 10px;
  border-radius: 8px;
}

