form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="submit"] {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

form input[type="submit"] {
  margin-top: 25px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #0055aa;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-right: 1px solid black;
}

.logo img {
  height: 50px;
}

.actions, .language, .user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lang {
  height: 27px;
  width: 39px;
}

header button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.menu {
  font-size: 24px;
  cursor: pointer;
  border-left: 1px solid black;
  padding: 20px;
}

main {
  min-height: 500px;
  background: white;
}

footer {
  background-color: #00264d;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.contact-title {
  flex-basis: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.campus {
  width: 30%;
  min-width: 200px;
  margin: 10px;
}

.campus:nth-child(2) {
  background: linear-gradient(to right, indigo, red);
  padding: 10px;
  border-radius: 8px;
}

form select {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: border 0.3s;
  margin-top: 10px;
}

form select:focus {
  border-color: #003366;
  outline: none;
}

